<div class="row" style="padding-bottom: 40px;">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <fieldset>
                        <legend>会议安排</legend>
                        <div class="form-group">
                            <label class="col-md-2 control-label loginFormLabel">输入框一:</label>
                            <span class="col-md-7">
                                <input class="form-control" placeholder="输入框一" name="email" type="email" autofocus>
                            </span>
                            <span class="col-md-3 help-inline">
                                <i class="icon icon-ok"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label loginFormLabel">输入框一:</label>
                            <span class="col-md-7">
                                <input class="form-control" placeholder="输入框一" name="email" type="email" autofocus>
                            </span>
                            <span class="col-md-3 help-inline">
                                <i class="icon icon-ok"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label loginFormLabel">输入框一:</label>
                            <span class="col-md-7">
                                <input class="form-control" placeholder="输入框一" name="email" type="email" autofocus>
                            </span>
                            <span class="col-md-3 help-inline">
                                <i class="icon icon-ok"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label loginFormLabel">输入框一:</label>
                            <span class="col-md-7">
                                <input class="form-control" placeholder="输入框一" name="email" type="email" autofocus>
                            </span>
                            <span class="col-md-3 help-inline">
                                <i class="icon icon-ok"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label loginFormLabel">输入框一:</label>
                            <span class="col-md-7">
                                <input class="form-control" placeholder="输入框一" name="email" type="email" autofocus>
                            </span>
                            <span class="col-md-3 help-inline">
                                <i class="icon icon-ok"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label loginFormLabel">输入框一:</label>
                            <span class="col-md-7">
                                <input class="form-control" placeholder="输入框一" name="email" type="email" autofocus>
                            </span>
                            <span class="col-md-3 help-inline">
                                <i class="icon icon-ok"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label loginFormLabel">输入框一:</label>
                            <span class="col-md-7">
                                <input class="form-control" placeholder="输入框一" name="email" type="email" autofocus>
                            </span>
                            <span class="col-md-3 help-inline">
                                <i class="icon icon-ok"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label loginFormLabel">输入框一:</label>
                            <span class="col-md-7">
                                <input class="form-control" placeholder="输入框一" name="email" type="email" autofocus>
                            </span>
                            <span class="col-md-3 help-inline">
                                <i class="icon icon-ok"></i>
                            </span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>